@media (min-width: 640px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .hamburger {
        display: none;
    }

    .directory.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .directory.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        max-width: 1200px;
        margin: auto;
    }
}