@media (min-width: 700px) {

    #menu-toggle {
        display: none;
    }

    nav ul {
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
        background: none;
    }

    footer {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .siocial {
        background: rgb(78, 78, 184);
            color: white;
            padding: 2rem;
            text-align: center;
    }
}