header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;

}

header span {
    font-size: 1.2rem;
    color: blue;
    text-align: none;

}

.hamburger {
    color: blue;
    border: none;
    background: none;
    cursor: pointer;


}

.hamburger::after {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::after {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: blue;
    text-decoration: none;
    border-bottom: solid 1px red;
}

.navigation li.current {
    background: #ddd;
}

.navigation a:hover {
    background-color: red;
}

section {
    padding: 0rem 10px;
    text-decoration-thickness: var();
    color: white;

}

h1 {
    padding: 0rem 10px;
    color: red;
    gap: 1rem;
}

.structure {
    display: block;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.card-courses  {
    grid-column: span 2;
    background: red;
    text-align: center;
    column-gap: 8px;
    
}

.card {
    border: solid 1 px #ccc;
    background-color: #f5f5f5;
    text-align: center;

}

.card h2 {
    background: red;
    color: white;
    padding: 10px;
    margin: 0;

}

.course-names {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.course-button {
    display: flex;
    padding: 10px 150px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.course-list {
    justify-content: center;
    align-items: center;
}

.card p {
    color: blue;
    text-align: left;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    background-color: red;
}

.social img {
    width: 40px;

}

.social img:hover {
    opacity: 0.7;
}

footer p {
    margin: 5px 0;
    color: white;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.course-names {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.structure {
    display: block;
}
h2 {
    grid-column: span 2;
}
.course-list p {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
}